html {
  scroll-behavior: smooth;
}
.navbar {
  text-align: end;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  animation: fadeInAnimation ease 2.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo {
  width: auto;
  height: 50px;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.cursive {
  font-family: "Edu TAS Beginner", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #272727;
}
::-webkit-scrollbar-thumb {
  background: rgb(142, 142, 142);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}

/* FRONT PAGE START  */

.frontpage {
  padding-top: 76px;
  background-image: linear-gradient(to top, #2C3333 0%, #353f3f 50%, #444f4f 100%);
}

.padding-intro-page {
  padding-bottom: 180px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilepic {
  width: auto;
  height: 500px;
  margin-top: 5%;
  box-shadow: 10px 10px 8px #E7F6F2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 2%;
}

.profilepic:hover {
  height: 550px;
  -webkit-filter: grayscale(80%) blur(3px);
  filter: grayscale(80%) blur(3px);
}

/* glitch effect start  */
/* glitch effect end  */

@media screen and (max-width: 520px) {
  .profilepic {
    height: 400px;
  }
  .profilepic:hover {
    height: 450px;
  }
}

@media screen and (max-width: 505px) {
  .profilepic {
    height: 300px;
  }
}

.hello {
  margin-top: 20%;
  font-size: 50px;
  color: #395B64;
}

/* flip animation start  */
.flipX:hover {
  animation: 1s anim-flipX ease infinite;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
/* flip animation end  */

/* focus animation start  */
.name {
  padding-left: 75px;
  font-size: 80px;
  color: #395B64;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.smallname {
  font-size: 60px;
  padding-left: 75px;
  color: #395B64;
  display: none;
}

.mgap {
  visibility: hidden;
}

.name span {
  position: relative;
  transition: 0.5s;
  filter: blur(4px);
}

.name span:hover {
  transition: 0s;
  filter: blur(0px);
}

.name span i {
  position: absolute;
  inset: 0;
  background: transparent;
}

.name span:hover i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 10px;
  background: #395B64;
  box-shadow: 0 110px #395B64,
  45px 111px #395B64,
  45px 0 #395B64;
}

.name span:hover i::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 3px;
  background: #395B64;
  box-shadow: 0 118px #395B64,
  39px 118px #395B64,
  37px 0 #395B64;
}
/* focus animation end  */
@media screen and (max-width: 720px) {
  .name {
    font-size: 60px;
  }
  .name {
    display: none;
  }
  .smallname {
    display: flex;
  }
}
@media screen and (max-width: 470px) {
  .name {
    font-size: 40px;
  }
}

.quote {
  padding-left: 75px;
  font-size: 25px;
  color: #395B64;
}

/* typing animation start  */
.loader::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  background: #000000;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {
  0%,75%
  {
    opacity: 1;
  }
  76%,100%
  {
    opacity: 0%;
  }
}

.loader {
  position: relative;
}

.loader p {
  position: relative;
  
}

/* typing animation end  */

/* FRONT PAGE END  */

/* ABOUT ME PAGE START */

.hobbi-heading {
  text-align: center;
  font-size: 60px;
  color: #395B64;
}

.aboutmepage {
  padding-top: 76px;
  font-size: 30px;
  /* background: radial-gradient(#a23982, #1f1013); */
  background-color: #E7F6F2;
  color: #395B64;
  position: relative;
}

.hobi-quote {
  text-align: center;
}

.hobi-img {
  max-width: 100%;
  object-fit: contain;
  height: 450px;
}

.head {
  font-size: 30px;
}

/* wavie letters */

.waviy span {
  font-size: 140%;
  /* font-size: 40px; */
  position: relative;
  display: inline-block;
  color: #395B64;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/* SKILLS PAGE START  */

.skill-section {
  /* background-color: #4854617c;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
  background-color: #2C3333;
  position: relative;
}

.skill-heading {
  color: #A5C9CA;
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  font-size: 60px;
}

.skills {
  padding-top: 56px;
  padding-bottom: 50px;
}

.percentage {
  display: inline;
  color: #F7F5F2;
}

.inBetweenSpace {
  display: flex; 
  justify-content: space-between;
}

.html-img {
  width: auto;
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

.skill {
  width: 50%;
  margin: 0 auto;
  width: 500px;
  margin: 60px, auto;
  color: #F7F5F2;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 0, 22);
}

@media screen and (max-width: 490px) {
  .skill {
    width: 300px;
  }
}

.abtlang{
  text-align: center;
  font-size: 20px;
  color: #F7F5F2;
  padding-left: 20px;
  padding-right: 20px;
}

.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0, 1px, 2px, rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}

.html {
  width: 70%;
  animation: html 3s;
  animation-iteration-count: infinite;
}
.css {
  width: 40%;
  animation: css 3s;
  animation-iteration-count: infinite;
}

.cpp {
  width: 70%;
  animation: cpp 3s;
  animation-iteration-count: infinite;
}

.java {
  width: 30%;
  animation: java 3s;
  animation-iteration-count: infinite;
}

.python {
  width: 90%;
  animation: python 3s;
  animation-iteration-count: infinite;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes cpp {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* SKILLS PAGE END  */

/* CONTACT ME PAGE START  */

.contact-heading {
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  color: #395B64;
  padding-top: 15%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .contact-heading {
    font-size: 50px;
    padding-top: 25%;
  }
}

/* the wavy animation start  */

.wavy {
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));

}

.wavy span {
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--j));
}

@keyframes animate {
  0%
  {
    transform: translateY(0px);
  }
  20%
  {
    transform: translateY(-20px);;
  }
  40%,100%
  {
    transform: translateY(0px);
  }
}
/* wavy animation end  */


.contact {
  z-index: -2;
  /* background: radial-gradient(#a23982, #1f1013); */
  background-color: #E7F6F2;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
  position: relative;
  height: 720px;
}

/* buttons */

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.buttons {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

/* CONTACT ME PAGE END  */

/* contact me background */



.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: #000000;
  box-shadow: #395B64 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}


.Curve1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Curve1 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 155px;
}

.Curve1 .shape-fill {
  fill: #A5C9CA;
}

.Curve2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Curve2 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 155px;
}

.Curve2 .shape-fill {
  fill: #2C3333;
}

.Curve3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Curve3 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 150px;
}

.Curve3 .shape-fill {
  fill: #E7F6F2;
}

.Curve4 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Curve4 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 150px;
}

.Curve4 .shape-fill {
  fill: #2C3333;
}

.Curve5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.Curve5 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 150px;
}

.Curve5 .shape-fill {
  fill: #A5C9CA;
}
